body {
    color: #333333;
    background-image: url("triangles.png");
    background-size: initial;
    height: 100%;
    width: 100%;
}

.mainbox {
    height: 80%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.6);

    /* Center the box */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;

}

h1 {
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
}
