/* Custom font */
@font-face {
    font-family: Comfortaa;
    src: url("fonts/Comfortaa-Regular.ttf") format('truetype');
}
@font-face {
    font-family: Comfortaa;
    src: url("fonts/Comfortaa-Bold.ttf") format('truetype');
    font-weight: bold;
}

body {
    color: #222222;
    font-family: Comfortaa;
    background-image: url("triangles.png");
    background-size: initial;
    height: 100%;
    width: 100%;
}

.mainbox {
    height: 80%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.6);

    /* Center the box */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;

    /* Make it prettier */
    border-radius: 16px;
    padding: 40px;
	  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
}
